<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{articleVm.contents.header}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <p>
            {{articleVm.contents.contents}}
        </p>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-icon-button" aria-label="Favorite" ng-click="articleVm.toggleLike()">
            <md-icon ng-class="{'liked': articleVm.liked}"
                     md-svg-icon="client-resources/img/favorite.svg"
                     aria-label="articleVm.contents.likesCount"></md-icon>
        </md-button>
        <div style="min-width: 10px; mergin-left: 10px;"><button style="background-color: blue" ng-click="articleVm.download()">D</button></div>
        <div style="min-width: 10px">{{articleVm.contents.likesCount}}</div>
    </md-card-actions>
</md-card>