<div class="container">

    <table class="table table-hover">
        <caption>Users: </caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-model="dbCtrl.users" ng-repeat="user in dbCtrl.users">
                <td><span ng-bind="user.id"></span></td>
                <td><span ng-bind="user.value"></span></td>
            </tr>
        </tbody>
    </table>


    <table class="table table-hover">
        <caption>Articles: </caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-model="dbCtrl.users" ng-repeat="article in dbCtrl.articles">
                <td><span ng-bind="article.id"></span></td>
                <td><span ng-bind="article.value"></span></td>
            </tr>
        </tbody>
    </table>

    <p>Go to <a href="#/">Main Page</a></p>

</div>
