<md-card>
    <md-card-title>
        <md-card-title-text ng-click="articleVm.preview()">
            <span class="md-headline">{{articleVm.contents.header}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <p>
            {{articleVm.contents.contents}}
        </p>
    </md-card-content>
    <md-card-actions layout="row" layout-align="center center">
        <div style="min-width: 10px; position: relative; left: 10px;">{{articleVm.contents.date}}</div>
        <md-button class="md-icon-button" ng-click="articleVm.download()">
            <md-icon md-svg-icon="client-resources/img/download.svg"></md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="articleVm.preview()">
            <md-icon md-svg-icon="client-resources/img/preview.svg"></md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="articleVm.removeArticle()">
            <md-icon md-svg-icon="client-resources/img/trash.svg"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Favorite" ng-click="articleVm.toggleLike()">
            <md-icon ng-class="{'liked': articleVm.liked}"
                     md-svg-icon="client-resources/img/favorite.svg"
                     aria-label="articleVm.contents.likesCount"></md-icon>
        </md-button>
        <div style="min-width: 10px; position: relative; right: 10px;">{{articleVm.contents.likesCount}}</div>
    </md-card-actions>
</md-card>