<div class="container" >

    <form data-ng-submit="accountCtrl.submit()" name="loginForm" novalidate>
        Email: <input type="text" data-ng-model="accountCtrl.user.email"> <br>
        Username: <input type="text" data-ng-model="accountCtrl.user.name">  <br>
        Password: <input type="password" data-ng-model="accountCtrl.user.password">  <br>
        <input type="submit" value="Sign Up">
    </form>
    <h1>U sent: {{accountCtrl.message}}</h1>
    <h4>Already have account? <a href="#/login">Login</a></h4>
    <h4>Go <a href="#/">Home</a></h4>
</div>
